*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: #ECF6FF !important;
}

.wrapper{
    display: flex;
    position: relative;
}

.wrapper .sidebar{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    height: 100%;
    background: #0073FF;
    padding: 30px 0;
}

.wrapper .sidebar ul li{
    padding: 15px;
    border-bottom: 2px solid rgba(0,0,0,0.05);
    border-top: 2px solid rgba(225,225,225,0.05);
    font-family: 'Francois One', sans-serif;
}

.wrapper .sidebar ul li a{
    color: #DEDEDE;
    display: block;
}

.wrapper .sidebar ul li:hover{
    background: #0088FF;
}

.wrapper .sidebar ul li:hover a{
    color:#FFF;
}

.wrapper .main_content{
    width: 100%;
    margin-left: 200px;
    height: 100vh;
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    font-family: 'Roboto Slab', serif;
    padding-left: 4vh;
    padding-right: 4vh;
}

.wrapper .main_content a{
    padding-right: 1%;
    
}

.hidden{
    display: none;
}

.wrapper .main_content h1{
    font-size: 9vh;
}

.text-primay{
    color: #0088FF;
}

.main_content h4{
    padding-bottom: 2%;
}
